.double-slider-control {
    -fx-padding: 5;
    -fx-background-color: white;
}

.double-slider-control .left-thumb {
    -fx-fill: orangered;
}

.double-slider-control .right-thumb {
    -fx-fill: orangered;
}

.double-slider-control .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 24;
    -fx-fill: darkgray;
}